/*Globals*/

.wrapper {
    width: 85%;
    margin: 0 auto;

    max-width: 125rem;
}

.sec_padding {
    padding: 4.5rem 0;
}

.sec_grey {
    background-color: #42b0e2;
    color: #ffffff;
}

/*Global End*/

/*Pricing*/
.wrapper2 {
    width: 85%;
    margin: 0 auto;
    max-width: 125rem;
    position: relative;
}
.pricing {
}

.pricing_sec_title {
    font-size: 4.2rem;
    font-weight: 300;
}

.princing_sec_desc {
    width: 80%;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.plan_space {
}

.plan_box {
    width: 89rem;
    margin: 4rem auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    color: #0b1b20;
}

.plan {
    position: relative;
    width: 20rem;
    padding: 3rem 2rem;
    background-color: #fafafa;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;

    border-bottom-color: #37fc21;
    border-bottom-style: solid;
    border-bottom-width: 5px;

    -webkit-box-shadow: 0px 0px 10px -1px rgba(105, 97, 105, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(105, 97, 105, 1);
    box-shadow: 0px 0px 10px -1px rgba(105, 97, 105, 1);
}

.service_name {
    text-align: center;
    font-weight: 600;
}

.img_box {
    width: 4rem;
    height: 4rem;

    margin-top: 1.3rem;
}

.img_box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    color: #333;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    text-align: center;
}

.disclaimer {
    margin-top: 1.5rem;
    color: #494747a2;
    font-weight: 300;
    text-align: center;
}

.day_space {
    width: 100%;
    margin-top: 2.5rem;
}

.day_box {
    width: 100%;
}

.day_info {
    display: flex;
    margin-bottom: 0.75rem;
}

.day {
    width: 50%;

    font-size: 1.27rem;
    padding-top: 0.25rem;
}

.special_price_box {
    background-color: #ccc;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 0.85rem;
}
.special_price {
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.special_adjust {
    margin-top: 1.2rem;
}

.price_adjust_box {
    margin: 1rem auto 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    color: green;
}
.price {
    color: #333;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 7px;
}

@media screen and (min-width: 1024px) {
    .sec_padding {
        margin-bottom: 25rem;
    }
}

@media screen and (min-width: 1024px) {
    .sec_grey {
        height: 42rem;
    }
}

@media screen and (max-width: 767px) {
    .plan_box {
        flex-flow: column nowrap;
        width: 100%;
        align-items: center;
    }
    .princing_sec_desc {
        width: 100%;
    }

    .plan {
        width: 25rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .plan_box {
        width: 43rem;
    }
}
